html{
	background-color: #25252C;
	color:white;
	margin: 0;
}
body{
	margin: 0;
}
#mosImg{
	image-rendering: pixelated;
}
.leftPane{
	width: 62px;
	height: 100px;
	float: left;
	text-align: center;
}
.leftPane img{
	width: 35px;
	margin: 6px 0px;
}
.leftPane ul{
	list-style-type: none;
	padding:0;
}
.leftPane li:hover{
	background-color: #2c3e50;
}

.centerPane{
	width: calc(100% - 421px);
	margin-right: 20px;
	float:left;
	border-left: solid 2px #1E2024;
	border-right: solid 2px #1E2024;
}
.rightPane{
	width: 310px;
	float:right;
	padding-left: 15px;
}
#orgImg{
	max-width: 100%;
	image-rendering: pixelated;
}
canvas{
	background-color: #27282C;
	/*border:10px #353535 solid;
	border-radius: 5px;
	border-top-left-radius: 0px;*/
	width: 100%;
}
#img-history img{
	width: 100px;
}
.inactive{
	display: none;
}
.active{
	display: block;
}
#allColors{
	list-style-type: none;
	background: white;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    font-size: 12px;
    margin:auto;
}
#allColors li{
    width: 80px;
    text-align: center;
    margin:5px;
    padding: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: inline-block;
}