#mosImg{
	image-rendering: pixelated;
}
.leftPane{
	width: calc(100% - 501px);
	float:left;
}
.rightPane{
	width: 350px;
	padding-left: 50px;
	float:right;
	border-left: black 1px solid;
}
#orgImg{
	max-width: 100%;
	image-rendering: pixelated;
}
canvas{
	background-color: #212121;
}
#img-history img{
	width: 100px;
}